body{
    text-align: center;
    background-image: url(pig.jpg);
}
#pig{
    background-color: pink;
    width: 508px;
    height: 250px;
    position: absolute;
    left: 30%;
    top: 30%;
}
#english{
    height: 100px;
    width: 500px;
}
#piglatin{
    height: 100px;
    width: 500px;
}